@font-face {
    font-family: din15;
    src: url(../font/DIN1M__.TTF);
}


div, p, small {
    font-family: din15;
}

#menu {
  margin-top 55px;
}

.text-align-right {
    text-align: right;
    font-size: 10pt;
}

.text-align-left {
    text-align: left;
    font-size: 10pt;
}

.navbar {
  marging-top: 55px;
  height: 80px;
  border: 0px !important;
}

.navbar-default {
  background-color: white;
  border: 0px !important;
}

.navbar-nav>.active>a {
  background-color: white !important;
}

.container-fluid {
  margin-top: 50px !important;
}

.navbar-brand {
  height: 115px !important;
}

.menu-link {
  font-size: 12pt;
  font-weight: bold;
  color: #0d4a5c !important;
  font-family: din15;
}

<<<<<<< Updated upstream
a.menu-link:hover{
	color: #3db5b4 !important;
}

.normal-body{
	font-size: 10pt;
	color: black !important;
	font-family: din15;
}

.space-top {
  padding-top 40px;
}






<<<<<<< Updated upstream
.big-word{
	font-size: 15pt;
	color: black !important;
	font-family: din15;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 1);
  border-width: 0px;
  border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  color: rgba(119, 119, 119, 1);
  background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  color: rgba(51, 51, 51, 1);
  background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(85, 85, 85, 1);
  /*
  background-color: rgba(240, 240, 240, 1);
  background: -webkit-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: linear-gradient(to bottom, rgba(231, 231, 231, 1) 0%, rgba(240, 240, 240, 1) 100%);
  */
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #f0f0f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #f0f0f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #f0f0f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}
