@font-face {
    font-family: din15;
    src: url(../stylesheets/font/DIN1M__.TTF);
}

@font-face {
    font-family: din17;
    src: url(../stylesheets/font/DIN1B__.TTF);
}



div, p, small {
    font-family: din15;
}

#menu {
  margin-top: 55px;
}

.text-align-right {
    text-align: right;
    font-size: 10pt;
}

.text-align-left {
    text-align: left;
    font-size: 10pt;
}

.navbar {
  marging-top: 55px;
  height: 80px;
  border: 0px !important;
}

.navbar-default {
  background-color: white;
  border: 0px !important;
}

.navbar-nav>.active>a {
  background-color: white !important;
}

.container-fluid {
  margin-top: 50px !important;
}

.navbar-brand {
  height: 115px !important;
}

.menu-link {
  font-size: 12pt;
  font-weight: bold;
  color: #0d4a5c !important;
  font-family: din15;
}

a.menu-link:hover{
	color: #3db5b4 !important;
}

.normal-body{
	font-size: 10pt;
	color: black !important;
	font-family: din15;
}

.space-top {
  padding-top: 40px;
}

.big-word{
	font-size: 15pt;
	color: black !important;
	font-family: din15;
}

.item-portfolio{
	margin-left: 50px;
}

.title1-portfolio-element{
	font-size: 10pt;
	color: #969696 !important;
	font-family: din17;
}

.title2-portfolio-element{
	font-size: 10pt;
	color: black !important;
	font-family: din17;
}

.body-portfolio-element{
	font-size: 10pt;
	color: #aaaaaa !important;
	font-family: din17;
}

.text-item-portfolio{
	margin-top: 40px;
}


.manteca{
	width: 400px; 
	height: 200px; 
	display: table;
}

.manteca-inner-div{
	display: table-cell; 
	vertical-align: middle;
}

.business-angels-img{
	height: 100px; 
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1200px) {
  #main-logo {
    display: block;
    max-width:410px;
    height: auto !important;
  }
}

@media (max-width: 990px) {
  #main-logo {
    display: block;
    max-width:200px;
    height: auto !important;
  }

  .navbar-right{
    padding-top: 5px !important;
  }
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 1);
  border-width: 0px;
  border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  color: rgba(119, 119, 119, 1);
  background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  color: rgba(51, 51, 51, 1);
  background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(85, 85, 85, 1);
  /*
  background-color: rgba(240, 240, 240, 1);
  background: -webkit-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: linear-gradient(to bottom, rgba(231, 231, 231, 1) 0%, rgba(240, 240, 240, 1) 100%);
  */
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #f0f0f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #f0f0f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #f0f0f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}

.navbar-right{
  padding-top: 25px;
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #000;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
